<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.rsultimate.wallpapers" platformBuildVersionCode="253" platformBuildVersionName="2.5.3">
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <application android:allowBackup="true" android:appComponentFactory="android.support.v4.app.CoreComponentFactory" android:fullBackupContent="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="jahirfiquitiva.apps.frames.sample.MyApplication" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/MySplashScreen">
        <activity android:label="@string/app_name" android:name="jahirfiquitiva.apps.frames.sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.OPENABLE"/>
            </intent-filter>
        </activity>
        <service android:description="@string/app_description" android:icon="@drawable/ic_muzei_icon" android:label="@string/app_name" android:name="jahirfiquitiva.apps.frames.sample.MuzeiService">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource"/>
            </intent-filter>
            <meta-data android:name="color" android:value="@color/muzei_color"/>
            <meta-data android:name="settingsActivity" android:value="jahirfiquitiva.libs.frames.ui.activities.MuzeiSettingsActivity"/>
        </service>
        <provider android:authorities="jahirfiquitiva.apps.frames.sample.fileProvider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_providers"/>
        </provider>
        <uses-library android:name="com.sec.android.app.multiwindow" android:required="false"/>
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632.0dip"/>
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598.0dip"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="632.0dip"/>
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="598.0dip"/>
        <meta-data android:name="com.lge.support.SPLIT_WINDOW" android:value="true"/>
        <activity android:exported="false" android:name="jahirfiquitiva.libs.frames.ui.activities.FramesActivity" android:windowSoftInputMode="adjustNothing|stateHidden"/>
        <activity android:exported="false" android:name="jahirfiquitiva.libs.frames.ui.activities.ViewerActivity"/>
        <activity android:exported="false" android:name="jahirfiquitiva.libs.frames.ui.activities.CollectionActivity" android:windowSoftInputMode="adjustNothing|stateHidden"/>
        <activity android:exported="false" android:name="jahirfiquitiva.libs.frames.ui.activities.CreditsActivity"/>
        <activity android:name="jahirfiquitiva.libs.frames.ui.activities.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:name="jahirfiquitiva.libs.frames.ui.activities.MuzeiSettingsActivity"/>
        <activity android:name="com.github.javiersantos.piracychecker.activities.LicenseActivity" android:theme="@style/PiracyCheckerStyle"/>
        <provider android:authorities="jahirfiquitiva.apps.frames.sample.lifecycle-trojan" android:exported="false" android:multiprocess="true" android:name="android.arch.lifecycle.ProcessLifecycleOwnerInitializer"/>
    </application>
</manifest>